<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            font-family: sans-serif;
            font-weight: bold;
        }
        h2 {
            text-align: center;
            margin-bottom: 0.5rem;
            font-weight: 700 !important;
            line-height: 1.2;
            color: #44425A;
        }
        h6{
            color:white;
            font-size:20px !important;
        }
        label {
            font-family: sans-serif;
            font-weight: bold;
            font-size:30px;
        }
        span {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 30px;
            color: #3E98ED;
        }

        li{
            color: black; /* Color de letra*/
            font-family: sans-serif; /* Tipo de letra*/
            font-size: 30px; /* Tamaño de letra*/
            font-weight: bold;
            margin-right: 70px; /* Distancia entre los links de la barra de navegación*/
        }
        small {
            margin-right: 50px;
            color:white;
        }
        .menu {
            text-decoration: none;
            color: white;
        }
            .menu:hover {
                color: #3E98ED;
            }
        nav.navbar {
            background-color: #14202C; /* Color del fondo de la barra de navegación*/
            align-items: center;

        }
        .learnify {
            font-size: 50px;
            color: #3E98ED;
            text-decoration: none;
        }
        
        
        
    </style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container">

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Learnify", "Cursos", "Cursos", new { area = "" }, new {@class="learnify"})</li>
                    <li>@Html.ActionLink("Cursos", "Cursos", "Cursos", new { area = "" }, new {@class="menu" })</li>
                    <li>@Html.ActionLink("Matricular", "Inicio", "Inicio", new { area = "" }, new { @class = "menu" })</li>
                    @*<li>@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "menu" })</li>*@
                </ul>



            </div>

        </div>
        <div>
            <h6>Nuestra oficina</h6>
            <small>Alajuela, Costa Rica</small>
        </div>
        <div>
            <h6>E-mail</h6>
            <small>info@learnify.com</small>
        </div>
        <div>
            <h6>Tel.</h6>
            <small>+506 2345 6789</small>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Learnify</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
